* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    align-items: center;
    background-color: black;
}

.logo-image {
    width: 20%;
    height: 20%;
    padding-top: 5%;
    padding-bottom: 1%;
    color: wheat;
    text-align: center;
}

.logo{
    color: wheat;
    align-items: center;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 75%;
    margin: 0 auto;
    background-color: black;
    align-items: center;
    text-align: center;
}

.video-wrapper {
    position: relative;
}

.large {
    grid-column: span 2; /* Spans across both columns */
    width: 100%; /* Takes full width */
}

.small {
    grid-column: span 1; /* Takes one column each */
}

video {
    width: 100%; /* Ensures the videos take up full width of their container */
    height: auto;
    display: block;
}

.award-image {
    position: absolute;
    top: -5%;
    right: -3%;
    width: 30%; /* Adjust size as needed */
    height: auto;
    z-index: 2;
    background-color: transparent;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px; /* Add padding above the buttons */
    padding-bottom: 50px;
}


.logo img {
    max-width: 150px; /* Adjust logo size as needed */
    height: auto;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 2%;
}

.nav-list li {
    display: inline-block;
}


.nav-list a {
    text-decoration: none;
    font-weight: bold;
    color: beige;
    font-size: 13px;
    text-align: right;
}

.nav-list a:hover {
    color: green; /* Change color on hover */
}

